body{
    background-color: rgb(249 250 251);
    font-family: Didact;
}

/* to allow degree symbol to be dynamically set */
#degree{
    
}

#container{

    #input-box{
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;

        height: 5vh;
    }

    #Dashboard{

        display: grid;
        grid-template-columns: 25vw 25vw 25vw 25vw;
        grid-template-rows: auto;
        grid-template-areas: 
          ". daily daily ."
          "weekly weekly weekly weekly";

        #daily{
            grid-area: daily;
            background-color: rgb(255, 255, 255);
            width: 45vw;
            height: 60vh;
            margin: 0 auto 0;
            border: 1px solid rgba(0,0,0,.125);             // shorten to shorthand ?
            border-radius: 0.25rem;

            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 65% 35%;
            grid-template-areas: 
                "icon stats" 
                "hourly hourly";

            #icon-cont{
                // border: 1px solid red;
                position: relative;
                grid-area: icon;
                

                #icon{
                    margin: auto 3vw;

                    display: grid;
                    grid-template-columns: 75% 25%;
                    grid-template-rows: auto 20% 20%;
                    grid-template-areas: 
                        "icon temp" 
                        "feelsLike feelsLike"
                        "asof asof";

                    img{
                        grid-area: icon;
                        place-self: center;
                    }

                    p#degree{
                        margin: 0;
                        font-size: 3vh;
                        display: inline;
                        position: relative;
                        bottom: 10%
                    }

                    #temp{
                        grid-area: temp;
                        place-self: center;
                        margin: 0; // cant disable 'user agent ss' for some reason
                        font-size: 10vh;

                        p{
                            position: relative;
                            bottom: 5vh;
                        }
                    }      
                    
                    #feelsLike{
                        grid-area: feelsLike;
                        margin: 0 0 0 1rem;
                        font-size: 4vh;
                        font-weight: bold;
                    }

                    #asof{
                        grid-area: asof;
                        margin: 0 0 0 1rem;
                        font-size: 4vh;
                    }
                    
                }
            }

            #stats{
                // display: inline-flex;
                // width: 50%;
                // border: 1px solid red;
                grid-area: stats;
                margin: auto 3vw;
                height: 75%;

                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 30% 20% 25% 25%;
                grid-template-areas: 
                    "desc desc"
                    "location location" 
                    "UVI hum"
                    "sunr suns";

                #desc{
                    grid-area: desc;
                    display:inline-block;
                    place-self: start;
                    
                }

                #location{
                    grid-area: location;
                    display: inline-block;
                    place-self: start;
                    text-align: justify;

                    h2{
                        font-size: 5vh;
                        // font-weight: bold;
                        margin: 0;
                    }
                }

                #uvi{
                    grid-area: UVI;
                }

                #hum{
                    grid-area: hum;
                }

                #sunr{
                    grid-area: sunr;
                }

                #suns{
                    grid-area: suns;
                }

                .etc{
                    font-weight: bold;
                    display: inline-block;

                    position: relative;
                    top: 3vh;
                    img{
                        height: 100%;
                    }
                }
            }

            #hourly-cont{
                // border: 1px solid red;
                grid-area: hourly;
                overflow-x: auto;
                white-space: nowrap;
                display: flex;
                flex-direction: row;
                // justify-content: space-evenly;

                .hourlyCard{
                    // border: 1px solid red;
                    // display: inline-flex;
                    height: 85%;
                    min-width: 5vw;
                    margin: 1% 0.8vw;
                    justify-content: center;

                    border: 1px solid rgba(0, 0, 0, 0.125);
                    border-radius: 0.25rem;

                    display: grid;
                    grid-template-rows: 25% 50% 25%;
                    grid-template-areas: 
                        "temp" 
                        "icon"
                        "time";

                    h2{
                        grid-area: temp;
                        place-self: center;
                        margin: 0;

                        p{
                            display: inline-block;
                            margin: inherit;
                        }
                    }

                    img{
                        grid-area: icon;

                    }

                    h3{
                        grid-area: time;
                        overflow: hidden;
                        margin: 0;
                        place-self: center;

                    }
                }                

            }
        }

        #weekly{
            grid-area: weekly;

            background-color: rgb(249, 250, 251);
            display: flex;
            margin: 1rem auto 0;
            // width: 100vw;
            justify-content: space-between;

            // overflow: hidden;
                .card{
                    display: inline-flex;
                    width: clamp(15vw, 100px, 20vw);
                    height: 35vh;
                    margin: 0 0.5vw;
                    

                    flex-direction: row;
                    flex-wrap: wrap;
                }


        }
    }    
}





#submit{
    font: bold 2.3vh/1.5vh;
}

/* Fonts */
@font-face {
    font-family: Didact;
    src: url(./fonts/DidactGothic-Regular.ttf);
 }


//  Media Queries
// Small Laptops (mine)
@media (max-width: 1640px) {
    #container{
        #Dashboard{
            #weekly{
                 margin-top: 0 !important;
            }             
        }
    }
}