body{
    background-color: rgb(249 250 251);
    font-family: Didact;
}

/* to allow degree symbol to be dynamically set */
#degree{    // required for something only god knows
    display: inline-block;
    margin: 0;
}

#container{
    height: 100vh;

    #input-container{
        padding-top: 2.5vh !important;
        padding-bottom: 2.5vh !important;

        #input-box{
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            height: 5vh;
            
            .input-group-prepend{
                .input-group-text{
                    height: 5vh;            // to have it match #input-box height
                }
            } 
            
            #submit{
                font-size: 2.5vh;
            }

        }
    }
    
    #Dashboard{

        display: grid;
        grid-template-columns: 25vw 25vw 25vw 25vw;
        grid-template-rows: auto;
        grid-template-areas: 
          ". daily daily ."
          "weekly weekly weekly weekly";

        #daily{
            grid-area: daily;
            background-color: rgb(255, 255, 255);
            width: 45vw;
            min-width: 730px;
            height: 60vh;
            margin: 0 auto 0;
            border: 1px solid rgba(0,0,0,.125);             // shorten to shorthand ?
            border-radius: 0.25rem;

            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 65% 35%;
            grid-template-areas: 
                "icon stats" 
                "hourly hourly";

            #icon-cont{
                // border: 1px solid red;
                position: relative;
                grid-area: icon;
                

                #icon{
                    margin: auto 3vw;

                    display: grid;
                    grid-template-columns: 75% 25%;
                    grid-template-rows: auto 20% 20%;
                    grid-template-areas: 
                        "icon temp" 
                        "feelsLike feelsLike"
                        "asof asof";

                    img{
                        grid-area: icon;
                        place-self: center;
                    }

                    p#degree{
                        margin: 0;
                        font-size: 3vh;
                        display: inline;
                        position: relative;
                        bottom: 10%
                    }

                    #temp{
                        grid-area: temp;
                        place-self: center;
                        margin: 0; // cant disable 'user agent ss' for some reason
                        font-size: 10vh;

                        p{
                            position: relative;
                            bottom: 5vh;
                        }
                    }      
                    
                    #feelsLike{
                        grid-area: feelsLike;
                        margin: 0 0 0 1rem;
                        font-size: 4vh;
                        font-weight: bold;
                    }

                    #asof{
                        grid-area: asof;
                        margin: 0 0 0 1rem;
                        font-size: 4vh;
                    }
                    
                }
            }

            #stats{
                // display: inline-flex;
                // width: 50%;
                // border: 1px solid red;
                grid-area: stats;
                margin: auto 3vw;
                height: 75%;

                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 30% 20% 25% 25%;
                grid-template-areas: 
                    "desc desc"
                    "location location" 
                    "UVI hum"
                    "sunr suns";

                #desc{
                    grid-area: desc;
                    display:inline-block;
                    place-self: start;
                    
                }

                #location{
                    grid-area: location;
                    display: inline-block;
                    place-self: start;
                    text-align: justify;

                    h2{
                        font-size: 5vh;
                        // font-weight: bold;
                        margin: 0;
                    }
                }

                #uvi{
                    grid-area: UVI;
                }

                #hum{
                    grid-area: hum;
                }

                #sunr{
                    grid-area: sunr;
                }

                #suns{
                    grid-area: suns;
                }

                .etc{
                    font-weight: bold;
                    display: inline-block;

                    position: relative;
                    top: 3vh;
                    img{
                        height: 100%;
                    }
                }
            }

            #hourly-cont{
                // border: 1px solid red;
                grid-area: hourly;
                overflow-x: auto;
                white-space: nowrap;
                display: flex;
                flex-direction: row;
                // justify-content: space-evenly;

                .hourlyCard{
                    // border: 1px solid red;
                    // display: inline-flex;
                    height: 85%;
                    min-width: 5vw;
                    margin: 1% 0.8vw;
                    justify-content: center;

                    border: 1px solid rgba(0, 0, 0, 0.125);
                    border-radius: 0.25rem;

                    display: grid;
                    grid-template-rows: 25% 50% 25%;
                    grid-template-areas: 
                        "temp" 
                        "icon"
                        "time";

                    h2{
                        grid-area: temp;
                        place-self: center;
                        margin: 0;

                        p{
                            display: inline-block;
                            margin: inherit;
                        }
                    }

                    img{
                        grid-area: icon;

                    }

                    h3{
                        grid-area: time;
                        overflow: hidden;
                        margin: 0;
                        place-self: center;

                    }
                }                

            }
        }

        #weekly{
            grid-area: weekly;

            background-color: rgb(249, 250, 251);
            display: flex;
            // margin: 1rem auto 0;
            padding-top: 2.5vh;
            width: 100vw;
            height: 30vh;
            justify-content: space-between;

            overflow: scroll;
            overflow-y: hidden;

            .card:nth-child(1){
                border-color: black;
            }

            .card{
                min-width: 235px;
                // height: 35vh;
                flex: 1 1 auto;

                margin: 0 0.5vw;
                flex-direction: row;
                flex-wrap: wrap;

                display: grid;
                grid-template-columns: 10% 20% 20% 20% 20% 10%;
                grid-template-rows: 15% 40% 15% 15% 15%;
                grid-template-areas: 
                    ". date date date date ." 
                    ". icon icon temp temp ."
                    ". feels feels feels feels ."
                    ". cloud cloud high high ."
                    ". hum hum low low .";

                div{
                    // border: 1px solid red;

                }

                #date{
                    grid-area: date;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    div{
                        // display: inline-block;
                        font-size: 1.3rem;
                        border: none;
                    }
                }

                #icon{
                    grid-area: icon;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                #temp{
                    grid-area: temp;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    h2{
                        margin: 0; // cant disable 'user agent ss' for some reason


                    }   
                        h2#temp{
                            font-size: 2rem;
                        }

                }

                #feelsLike{
                    grid-area: feels;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    div{
                        // display: inline-block;
                        font-size: 1.3rem;
                        border: none;
                    }

                }
                
                img{
                    height: 100%;
                }

                #cloud{     // will pot. change to humidity
                    grid-area: cloud;


                }

                #high{
                    grid-area: high;
                }

                #hum{
                    grid-area: hum;
                }

                #low{
                    grid-area: low;
                }

                transition: transform 300ms ease-in-out;
            }
            
            .card:hover{
                transform: scale(1.05, 1.05);
            }


        }::-webkit-scrollbar{
            // height: 1.5rem;
        }::-webkit-scrollbar-track{
            display: none;
        }
    }    
}







/* Fonts */
@font-face {
    font-family: Didact;
    src: url(./fonts/DidactGothic-Regular.ttf);
 }