#Dashboard{

    #daily{
        width: 45vw;
        height: 40vh;
        margin: 5vh auto 0;
        
        // testing
        border: 2px solid red;
    }

    #weekly{
        display: flex;
        margin: 5vh auto 0;

        justify-content: space-between;

        .card{
            display: inline-flex;
            width: clamp(20vw, 300px, 25vw);
            height: 35vh;
            margin: 0 0.5vw;
            

            flex-direction: row;
            flex-wrap: wrap;
        }

    }
}



#submit{
    font: bold 2.3vh/1.5vh Arial;
}

